@import url('');
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Poppins,sans-serif;
}
html,body{
	height: 100%;
	background: #f2f2f2;
	display: grid;
	align-items: center;
}
.container{
	
	padding: 0 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-right: 40px;
	margin-left: 40px;
}
.card{
	
	background: white;
	/*height: 290px;*/
	max-width: 350px;
	margin: 0px;
	transition: 0.4s;
	box-shadow: 2px 2px 5px rgba(0,0,0,2);
}
.card:hover{
	height: 300px;
	box-shadow: 5px 5px 10px rgba(0,0,0,2);
}
	
}

.card .img{
	height: 200px;
	width: 100%;


}
.card .img img{
	height: 100px;
	width: 100%;
	object-fit: cover;

}
.card.top-text{
	padding: 5px;

}
.card.top-text.name{
	font-size: 25px;
	font-weight: 600px;
	background:red;

}
.top-text p{
	font-size: 25px;
	font-weight: 600px;
	color: #e74c3c;
	line-height: 20px;

}
.card .bottom-text{
	padding: 0px 20px 10px 20px;
	margin-top: 5px;
	background: white;
	visibility: hidden;
	transition: 0.1s;
	opacity: 0;
}
.card:hover .bottom-text{
	opacity: 1;
	visibility: visible;
}

.card .bottom-text .text{
	text-align: justify;
}
.card .bottom-text .btn{
	margin: 10px 0px;
	text-align: center;
}
.card .bottom-text .btn a{
	text-decoration: none;
	background: #e74c3c;
	color: #2f2f2f;
	padding: 5px 8px;
	border-radius: 3px;
	display: inline-flex;
	transition: 0.2s;
}
.card .bottom-text .btn a:hover{
	transform: scale(0.9);

}

@media screen and (max-width: 978px){
	.container{
		flex-wrap: wrap;
		flex-direction: column; 
	}

	.card{
		max-width: 700px;
		margin: 20px 0;
	}

}

.top-text, .bottom-text{
	margin: auto;
	text-align: center;
}






